{
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "all",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
